// fonts variables
$ff-MachineC: 'MachineC';
$ff-Raleway: 'Raleway';
$ff-Roboto: 'Roboto';


@import "common/reset";
@import "fonts";

@import "default";
@import "header";
@import "stages";
@import "about";
@import "media";
@import "table";
@import "plan";
@import "wallet";
@import "footer";
@import "common/diagrams";
