body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #4746f3;
}

.wrapper {
	width: 100%;
	max-width: 1550px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
}

.diagrams_desc {
	color: #ffffff;
	padding-left: 0;
	padding-right: 200px;

	h2 {
		font: 900 36px $ff-Raleway;
		position: relative;
		margin-bottom: 80px;
	}

	h2:after {
		position: absolute;
		content: '';
		top: 76px;
		left: 0;
		width: 30px;
		height: 3px;
		box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.2), 0 0 14px 1px rgba(250, 146, 116, 0.15);
		background-color: #fa8166;
		background-image: linear-gradient(to top, #f27d66 0%, #fa9479 100%);
	}

	p {
		font: 500 16px $ff-Raleway;
		line-height: 24px;
	}

	p:first-of-type {
		margin-bottom: 40px;
	}
}