body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #4747f6;
}

.wrapper {
	width: 100%;
	max-width: 1550px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
}

.btn-blue {
	box-shadow: 0 5px 37px 3px rgba(53, 64, 86, 0.14), 0 0 14px 1px rgba(91, 211, 255, 0.15);
	border-radius: 10px;
	background-image: linear-gradient(to top, #5bd3ff 0%, #78e6ff 100%);
	text-align: center;
	font-family: $ff-Raleway;
	font-weight: 400;
	text-transform: uppercase;
	transition: box-shadow .3s ease;
	&:hover {
		box-shadow: inset 0 5px 37px 3px rgba(53, 64, 86, 0.14), 0 0 14px 1px rgba(91, 211, 255, 0.15);
	}
}

.btn-orange {
	box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.2), 0 0 14px 1px rgba(250, 146, 116, 0.15);
	border-radius: 10px;
	background-image: linear-gradient(to top, #f27d66 0%, #fa9479 100%);
	font-family: $ff-Raleway;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	transition: box-shadow .3s ease;
	text-align: center;
	&:hover {
		box-shadow: inset 0 4px 12px 2px rgba(0, 0, 0, 0.2), 0 0 14px 1px rgba(250, 146, 116, 0.15);
	}
}

.diagrams_desc {
	color: #ffffff;
	padding-left: 0;
	padding-right: 200px;
	display: flex;
	flex-direction: column;
		@media only screen and (max-width: 1075px) {
		padding-right: 10px;
	}
	@media only screen and (max-width: 680px) {
		padding: 10px 20px;
		margin-bottom: 40px;
	}

	h2 {
		font: 900 36px $ff-Raleway;
		margin-bottom: 25px;
		@media only screen and (max-width: 480px) {
			font-size: 32px;
		}
	}

	.line {
		margin-bottom: 25px;
		width: 30px;
		height: 3px;
		box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.2), 0 0 14px 1px rgba(250, 146, 116, 0.15);
		background-color: #fa8166;
		background-image: linear-gradient(to top, #f27d66 0%, #fa9479 100%);
	}

	p {
		font: 500 16px $ff-Raleway;
		line-height: 24px;
		@media only screen and (max-width: 480px) {
			font-size: 14px;
		}
	}

	p:not(:last-of-type) {
		margin-bottom: 24px;
	}
}

.diagrams_desc.head {
	text-align: center;
	align-items: center;
	padding: 50px 250px;
	@media only screen and (max-width: 1024px) {
		padding: 50px 100px;
	}
	@media only screen and (max-width: 488px) {
		padding: 50px 10px;
	}

	h2 {
		font-size: 60px;
	}
}
