.footer {
  background: url("../images/footer-bg.png") no-repeat bottom;
  padding: 150px 0 100px;

  .footer_content {
    display: flex;
    align-items: center;
    @media only screen and (max-width: 1024px) {
      flex-direction: column-reverse;
    }

    div {
      width: 33.3%;

      p {
        font: 500 14px $ff-Raleway;
        line-height: 24px;
        color: #102442;
      }
    }

    .footer_icons {
      display: flex;
      align-items: center;
      justify-content: center;

      .twitter,
      .unknown {
        background: url("../images/sprite.png");
        height: 41px;
        width: 41px;
        margin-right: 10px;
      }

      .twitter {
        background-position: 144px -48px;
      }

      .unknown {
        background-position: 144px -2px;
      }

      .logo {
        background: url("../images/logo-footer.png") center center;
        width: 113px;
        height: 80px;
      }
    }

    .to-top {
      text-align: right;

      a{
        font: 400 14px $ff-Raleway;
        color: #5bd3ff;
        line-height: 24px;
        position: relative;
      }

      a:before {
        position: absolute;
        content: '';
        left: 75px;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 10px solid #5bd3ff;;
      }
    }
  }
}