.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@media (max-width: 1200px) {
		position: relative;
	}
	&__logo {
		img {
			@media (max-width: 400px) {
				height: 80px;
			}
		}
	}
	&__nav {
		display: flex;
		align-items: center;
		transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
		@media (max-width: 1200px) {
			flex-direction: column;
			position: absolute;
			right: 0;
			top: 100px;
			padding: 25px;
			box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75);
			background-color: #4747f6;
			transform: translateX(130%);
		}
		&.active {
			transform: translateX(0);
		}
		&-btn {
			display: none;
			@media (max-width: 1200px) {
				display: block;
				width: 50px;
				height: 40px;
				position: relative;
				span {
					backface-visibility: hidden;
					position: absolute;
					left: 0;
					border-top: 7px solid white;
					width: 100%;
					transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
					pointer-events: none;
					&:nth-child(1) {
						top: 0;
					}
					&:nth-child(2) {
						top: 18px;
					}
					&:nth-child(3) {
						top: 36px;
					}
				}
			}
			&.active {
				span {
					&:nth-child(1) {
						backface-visibility: hidden;
						top: 15px;
						transform: rotate(50deg);
						transition: 0.55s 0.5s;
					}
					&:nth-child(2) {
						opacity: 0;
					}
					&:nth-child(3) {
						backface-visibility: hidden;
						top: 15px;
						transform: rotate(-410deg);
						transition: 0.55s 0.5s;
					}
				}
			}
		}
		&-menu {
			display: flex;
			padding-right: 30px;
			@media (max-width: 1200px) {
				flex-direction: column;
				align-items: center;
				width: 100%;
				padding-bottom: 5px;
				padding-right: 0;

			}
			a {
				position: relative;
				margin-right: 29px;
				opacity: 0.75;
				color: #ffffff;
				font-family: $ff-Raleway;
				font-size: 16px;
				line-height: 1;
				font-weight: 600;
				transition: all .3s ease-in;
				@media (max-width: 1320px) {
					margin-right: 19px;
				}
				@media (max-width: 1200px) {
					margin-bottom: 20px;
					display: block;
					margin-right: 0;
				}
				&:after {
					content: '';
					position: absolute;
					left: 0;
					bottom: -9px;
					width: 30px;
					height: 3px;
					box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.2), 0 0 14px 1px rgba(250, 146, 116, 0.15);
					background-image: linear-gradient(to top, #f27d66 0%, #fa9479 100%);
					transform: scaleX(0);
					transform-origin: left;
					transition: all .3s ease-in;
				}
				&:hover {
					opacity: 1;
					text-shadow: 0 0 7px rgba(255, 255, 255, 0.15);
					&:after {
						transform: scaleX(1);
					}
				}
			}
		}
		&-btns {
			display: flex;
			@media (max-width: 1200px) {
				flex-direction: column;
				align-items: center;
			}
		}
		&-buy {
			width: 234px;
			color: #164589;
			line-height: 51px;
			margin-right: 30px;
			@media (max-width: 1200px) {
				margin-right: 0;
				margin-bottom: 20px;
			}
		}
		&-list {
			width: 65px;
			height: 51px;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 25px;
				height: 25px;
				background-image: url("../images/sprite.png");
				background-position: -25px 63px;
			}
		}
	}
	&--wrap {
		padding-top: 64px;
		@media (max-width: 1200px) {
			padding-top: 15px;
		}
	}
}

.drop {
	padding-right: 20px;
	&:before {
		content: '\2039';
		position: absolute;
		right: 0;
		top: -3px;
		transform: rotate(-90deg);
		font-size: 28px;
	}
	&--wrap {
		position: relative;
	}
	&__list {
		position: absolute;
		top: 27px;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		opacity: 0;
		transform: scaleY(0);
		transform-origin: top;
		pointer-events: none;
		transition: all .3s ease-in;
		@media (max-width: 1200px) {
			width: 140px;
			z-index: 11;
			padding: 10px 0 0 10px;
			left: -10px;
			box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75);
			background-color: #4747f6;
		}
		a {
			font-size: 14px;
			line-height: 30px;
			@media (max-width: 1200px) {
				margin-bottom: 0;
			}
		}
		&.active {
			opacity: 1;
			transform: scaleY(1);
			pointer-events: all;
		}
	}
}