.scale {
  animation: scale 4s infinite linear;
}

@keyframes scale {
  from {transform: scale(.96, .96)}
  50% {transform: scale(1, 1)}
  to {transform: scale(.96, .96)}
}


.diagrams {
  padding: 150px 50px 0;
  @media only screen and (max-width: 1024px) {
    padding-top: 50px;
  }
  @media only screen and (max-width: 680px) {
    padding: 0;
  }

  .diagrams_item {
    display: flex;
    align-items: center;
    @media only screen and (max-width: 680px) {
      flex-direction: column;
    }
  }

  .diagrams_item:nth-child(1) {
    margin-bottom: 100px;
    @media only screen and (max-width: 680px) {
      flex-direction: column-reverse;
      margin-bottom: 50px;
    }
  }

  .diagrams_image {
    position: relative;
    @media only screen and (max-width: 680px) {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .donut {
      height: 410px;
      width: 410px;
      -webkit-filter: drop-shadow(6px 64px 9px rgba(0, 0, 0, 0.15));
      filter: drop-shadow(6px 64px 9px rgba(0, 0, 0, 0.15));
      transform: rotate(-90deg);
      @media only screen and (max-width: 680px) {
        height: 310px;
        width: 310px;
      }

      circle {
        transition: all .5s linear;
      }
      .selected {
        stroke-width: 4;
      }
    }

    p {
      color: #ffffff;
      font: 400 36px $ff-Raleway;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .diagrams_desc_right {
    align-items: flex-end;
    text-align: right;
    padding-left: 90px;
    padding-right: 0;
    @media only screen and (max-width: 1024px) {
      padding-left: 50px;
    }
    @media only screen and (max-width: 680px) {
      text-align: left;
      padding: 10px 20px;
      margin-bottom: 40px;
    }

    p {
      text-align: right;
    }

    h2:after {
      right: 0;
      left: auto;
      @media only screen and (max-width: 680px) {
        left: 0;
      }
    }
  }
}